.social-login
  button.social-login--github
    span
      i.fab.fa-github-alt
    |&nbsp;Continue with Github
  button.social-login--facebook
    span
      i.fab.fa-facebook
    |&nbsp;Continue with Facebook
  button.social-login--kakaotalk
    span
      i.fas.fa-coffee
    |&nbsp;Continue with KakaoTalk
