.social-login
  button.social-login--github
    a(href=routes.github)
      span
        i.fab.fa-github-alt
      |&nbsp;Continue with Github
  button.social-login--facebook
    a(href=routes.facebook)
      span
        i.fab.fa-facebook
      |&nbsp;Continue with Facebook
  button.social-login--kakaotalk
    a(href=routes.kakao)
      span
        i.fas.fa-coffee
      |&nbsp;Continue with KakaoTalk
    